* {
    box-sizing: border-box;
}

div:not(.dd) {
    border: 1px solid black;
    width: 43px;
    height: 65px;
    overflow: hidden;
    margin-left: 50px;
    position: relative;
    padding-right: 5px;
    transform: rotate(270deg);
    transition-duration: 1s;
    display: none;
    background-color: #173459;
}

p {
    font-size: 45px;
    display: inline;
    transition-duration: 1s;
    color: white;
}

#demo1 {
    position: absolute;
    top: -40px;
    left: 5px;
}

#demo2 {
    position: absolute;
    top: -40px;
    left: 15px;
}

#demo3 {
    position: absolute;
    top: -40px;
    left: 25px;
}

input {
    display: none;
}

input:checked~div>#demo1 {
    transform: rotate(-45deg);
    left: 13px;
}

input:checked~div>#demo2 {
    top: 10px;
}

input:checked~div>#demo3 {
    transform: rotate(45deg);
    left: 17px;
}

.line1,
.line2,
.line3 {
    background-color: black;
    width: 40px;
    height: 5px;
    margin: 5px;
}

ul {
    list-style-type: none;
    background-color: white;
    max-height: 160px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);
}

li:nth-of-type(1) {
    margin: 0px 0px 24px 0px;
    text-align: center;
}

li:nth-of-type(2) {
    margin: 0px 0px 28px 0px;
    text-align: center;
}

li:nth-of-type(3) {
    margin: 0px 0px 28px 0px;
    text-align: center;
}

li:nth-of-type(4) {
    margin: 0px 0px 0px 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

a:hover {
    background-color: #ff3030;
    color: white;
}

@media only screen and (orientation:landscape) {
    div:not(.dd) {
        border: 1px solid black;
        width: 43px;
        height: 65px;
        overflow: hidden;
        margin-left: 50px;
        padding-right: 5px;
        transform: rotate(270deg);
        transition-duration: 1s;
        display: inline-block;
        background-color: #173459;
        position: fixed;
        top: 0px;
        right: 30px;
        cursor: pointer;
    }

    p {
        font-size: 45px;
        display: inline;
        transition-duration: 1s;
        color: white;
    }

    #demo1 {
        position: absolute;
        top: -40px;
        left: 5px;
    }

    #demo2 {
        position: absolute;
        top: -40px;
        left: 15px;
    }

    #demo3 {
        position: absolute;
        top: -40px;
        left: 25px;
    }

    input {
        display: none;
    }

    input:checked~div>#demo1 {
        transform: rotate(-45deg);
        left: 13px;
    }

    input:checked~div>#demo2 {
        top: 10px;
    }

    input:checked~div>#demo3 {
        transform: rotate(45deg);
        left: 17px;
    }

    ul {
        margin-top: 55px;
        transition-duration: 1.3s;
    }

    .increase {
        max-height: 0px;
        opacity: 0;
    }

    li:nth-of-type(1) {
        margin: 0px 0px 0px 0px;
    }

    li:nth-of-type(2) {
        margin: 0px 0px 0px 0px;
    }

    li:nth-of-type(3) {
        margin: 0px 0px 0px 0px;
    }

    li:nth-of-type(4) {
        margin: 0px 0px 0px 0px;
    }

    a {
        padding: 10px;
    }
}