@keyframes border {
    from {
        border-right: 1px solid yellow;
    }

    to {
        border-right: 1.1px solid yellow;
    }
}

body {
    background-color: black;
}

span {
    animation-name: border;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 35px;
    font-family: Times new Roman;
    font-weight: bold;
    color: yellow;
    line-height: 500px;
    margin-left: 50px;
    text-decoration: underline solid yellow;
    text-shadow: 1px 1px 5px yellow;
}