* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

table,
td {
    border: 2.5px solid white;
    border-collapse: collapse;
}

td {
    height: 69px;
    width: 74px;
}

table {
    margin-left: 366px;
    margin-top: 50px;
}

div {
    background-color: green;
    color: white;
    text-shadow: 2px 2px 2px black;
    width: 77px;
    height: 74px;
    font-size: 32px;
    text-align: center;
    line-height: 73px;
    font-weight: bold;
}

button:nth-of-type(1) {
    background-color: crimson;
    height: 40px;
    width: 100px;
    margin: 40px 7px 13px 319px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    color: white;
}

button:nth-of-type(2) {
    background-color: crimson;
    height: 40px;
    width: 100px;
    margin: 40px 7px 13px 13px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    color: white;
}

button:nth-of-type(3) {
    background-color: crimson;
    height: 40px;
    width: 100px;
    margin: 40px 7px 13px 13px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    color: white;
}

h1 {
    text-align: center;
    text-decoration: underline wavy red;
}

h3:nth-of-type(1) {
    text-align: center;
    margin: 40px 50px -40px 50px;
}

h3:nth-of-type(2) {
    text-align: center;
    margin-top: 93px;
}